.pc_ms_right{
	float: left;
	width: 585px;
	overflow-x: auto;
}
.pc_ms_right > table tr:nth-child(odd){
	background-color: white;
}
.pc_ms_left{
    width: 400px;
    float: left;
}
.pc_default_container{
	background-color: #ECF0F1;
    text-align: left;
    border-radius: 5px;
	margin: 5px;
	padding: 10px;
}
.pc_ms_left > h3, .pc_ms_left > h4, .pc_ms_right h3, .pc_ms_right h4{
    color: grey;
    text-align: left;
}
.pc_ms_left > textarea{

}
.pc_ms_left > div{
    padding: 10px 0 10px 0;
    border-top: 2px solid white;

}
.pc_ms_left table tr td{
	border-right: 2px solid black;
	padding-right: 5px;
}
.pc_ms_left .pc_ms_left_listTables div:nth-child(odd){
	background-color: white;
	border-radius: 5px;
}